@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0a0a0a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
@font-face {
  font-family: "AKbalthom Freedom Plus";
  src: url("./assets/fonts/AKbalthom Freedom Plus V1.10.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

.khmer-font {
  font-family: "AKbalthom Freedom Plus", sans-serif;
}